Ready to Launch a New C.L.O.A.K Test!
<br>
<br>
<form enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
    {{ new_test_form.as_ul }}
    <input type="submit" value="Launch!">
</form>