{% if latest_tests_list %}
<a href="/cloakapp">C.L.O.A.K. Home</a>
<br>
<br>
    {% for test in latest_tests_list %}
        <table border = "2">
	        <tbody>
		        <tr>
			        <td>
                        <p>Test Name = {{ test.test_name }}</p>
                    </td>
		        </tr>
		        <tr>
			        <td>
                        File Tested  = {{ test.file_name }}<br>
                        File Type  = {{ test.file_type.description }}<br>
                        Environment = {{ test.environment.description }}<br>
                        Model = {{ test.model.description }}<br>
                        Score = {{ test.score }} <br>
                        Is Malware? = {{ test.result }}<br>
                        <a href="/cloakapp/deletetest/?testid={{ test.id }}">Delete</a>
                    </td>
		        </tr>
	        </tbody>
        </table>
    {% endfor %}
{% else %}
    <p>No test results available</p>
    <a href="/cloakapp">C.L.O.A.K. Home</a>
{% endif %}